<xml>
<dados>
<deputado_>
<id>178957</id>
<uri>
https://dadosabertos.camara.leg.br/api/v2/deputados/178957
</uri>
<nome>ABEL MESQUITA JR.</nome>
<siglaPartido>DEM</siglaPartido>
<uriPartido>
https://dadosabertos.camara.leg.br/api/v2/partidos/36769
</uriPartido>
<siglaUf>RR</siglaUf>
<idLegislatura>55</idLegislatura>
<urlFoto>
http://www.camara.leg.br/internet/deputado/bandep/178957.jpg
</urlFoto>
</deputado_>
<deputado_>
<id>178864</id>
<uri>
https://dadosabertos.camara.leg.br/api/v2/deputados/178864
</uri>
<nome>ADAIL CARNEIRO</nome>
<siglaPartido>PODE</siglaPartido>
<uriPartido>
https://dadosabertos.camara.leg.br/api/v2/partidos/36896
</uriPartido>
<siglaUf>CE</siglaUf>
<idLegislatura>55</idLegislatura>
<urlFoto>
http://www.camara.leg.br/internet/deputado/bandep/178864.jpg
</urlFoto>
</deputado_>
<deputado_>
<id>178914</id>
<uri>
https://dadosabertos.camara.leg.br/api/v2/deputados/178914
</uri>
<nome>ADALBERTO CAVALCANTI</nome>
<siglaPartido>AVANTE</siglaPartido>
<uriPartido>
https://dadosabertos.camara.leg.br/api/v2/partidos/36898
</uriPartido>
<siglaUf>PE</siglaUf>
<idLegislatura>55</idLegislatura>
<urlFoto>
http://www.camara.leg.br/internet/deputado/bandep/178914.jpg
</urlFoto>
</deputado_>
<deputado_>
<id>178890</id>
<uri>
https://dadosabertos.camara.leg.br/api/v2/deputados/178890
</uri>
<nome>ADELMO CARNEIRO LEÃO</nome>
<siglaPartido>PT</siglaPartido>
<uriPartido>
https://dadosabertos.camara.leg.br/api/v2/partidos/36844
</uriPartido>
<siglaUf>MG</siglaUf>
<idLegislatura>55</idLegislatura>
<urlFoto>
http://www.camara.leg.br/internet/deputado/bandep/178890.jpg
</urlFoto>
</deputado_>
<deputado_>
<id>178968</id>
<uri>
https://dadosabertos.camara.leg.br/api/v2/deputados/178968
</uri>
<nome>ADELSON BARRETO</nome>
<siglaPartido>PR</siglaPartido>
<uriPartido>
https://dadosabertos.camara.leg.br/api/v2/partidos/36814
</uriPartido>
<siglaUf>SE</siglaUf>
<idLegislatura>55</idLegislatura>
<urlFoto>
http://www.camara.leg.br/internet/deputado/bandep/178968.jpg
</urlFoto>
</deputado_>
<deputado_>
<id>133374</id>
<uri>
https://dadosabertos.camara.leg.br/api/v2/deputados/133374
</uri>
<nome>ADEMIR CAMILO</nome>
<siglaPartido>MDB</siglaPartido>
<uriPartido>
https://dadosabertos.camara.leg.br/api/v2/partidos/36899
</uriPartido>
<siglaUf>MG</siglaUf>
<idLegislatura>55</idLegislatura>
<urlFoto>
http://www.camara.leg.br/internet/deputado/bandep/133374.jpg
</urlFoto>
</deputado_>
<deputado_>
<id>178903</id>
<uri>
https://dadosabertos.camara.leg.br/api/v2/deputados/178903
</uri>
<nome>ADILTON SACHETTI</nome>
<siglaPartido>PRB</siglaPartido>
<uriPartido>
https://dadosabertos.camara.leg.br/api/v2/partidos/36815
</uriPartido>
<siglaUf>MT</siglaUf>
<idLegislatura>55</idLegislatura>
<urlFoto>
http://www.camara.leg.br/internet/deputado/bandep/178903.jpg
</urlFoto>
</deputado_>
<deputado_>
<id>141372</id>
<uri>
https://dadosabertos.camara.leg.br/api/v2/deputados/141372
</uri>
<nome>AELTON FREITAS</nome>
<siglaPartido>PR</siglaPartido>
<uriPartido>
https://dadosabertos.camara.leg.br/api/v2/partidos/36814
</uriPartido>
<siglaUf>MG</siglaUf>
<idLegislatura>55</idLegislatura>
<urlFoto>
http://www.camara.leg.br/internet/deputado/bandep/141372.jpg
</urlFoto>
</deputado_>
<deputado_>
<id>160508</id>
<uri>
https://dadosabertos.camara.leg.br/api/v2/deputados/160508
</uri>
<nome>AFONSO FLORENCE</nome>
<siglaPartido>PT</siglaPartido>
<uriPartido>
https://dadosabertos.camara.leg.br/api/v2/partidos/36844
</uriPartido>
<siglaUf>BA</siglaUf>
<idLegislatura>55</idLegislatura>
<urlFoto>
http://www.camara.leg.br/internet/deputado/bandep/160508.jpg
</urlFoto>
</deputado_>
<deputado_>
<id>136811</id>
<uri>
https://dadosabertos.camara.leg.br/api/v2/deputados/136811
</uri>
<nome>AFONSO HAMM</nome>
<siglaPartido>PP</siglaPartido>
<uriPartido>
https://dadosabertos.camara.leg.br/api/v2/partidos/37903
</uriPartido>
<siglaUf>RS</siglaUf>
<idLegislatura>55</idLegislatura>
<urlFoto>
http://www.camara.leg.br/internet/deputado/bandep/136811.jpg
</urlFoto>
</deputado_>
<deputado_>
<id>178835</id>
<uri>
https://dadosabertos.camara.leg.br/api/v2/deputados/178835
</uri>
<nome>AFONSO MOTTA</nome>
<siglaPartido>PDT</siglaPartido>
<uriPartido>
https://dadosabertos.camara.leg.br/api/v2/partidos/36786
</uriPartido>
<siglaUf>RS</siglaUf>
<idLegislatura>55</idLegislatura>
<urlFoto>
http://www.camara.leg.br/internet/deputado/bandep/178835.jpg
</urlFoto>
</deputado_>
<deputado_>
<id>160527</id>
<uri>
https://dadosabertos.camara.leg.br/api/v2/deputados/160527
</uri>
<nome>AGUINALDO RIBEIRO</nome>
<siglaPartido>PP</siglaPartido>
<uriPartido>
https://dadosabertos.camara.leg.br/api/v2/partidos/37903
</uriPartido>
<siglaUf>PB</siglaUf>
<idLegislatura>55</idLegislatura>
<urlFoto>
http://www.camara.leg.br/internet/deputado/bandep/160527.jpg
</urlFoto>
</deputado_>
<deputado_>
<id>178836</id>
<uri>
https://dadosabertos.camara.leg.br/api/v2/deputados/178836
</uri>
<nome>ALAN RICK</nome>
<siglaPartido>DEM</siglaPartido>
<uriPartido>
https://dadosabertos.camara.leg.br/api/v2/partidos/36769
</uriPartido>
<siglaUf>AC</siglaUf>
<idLegislatura>55</idLegislatura>
<urlFoto>
http://www.camara.leg.br/internet/deputado/bandep/178836.jpg
</urlFoto>
</deputado_>
<deputado_>
<id>73579</id>
<uri>
https://dadosabertos.camara.leg.br/api/v2/deputados/73579
</uri>
<nome>ALBERTO FRAGA</nome>
<siglaPartido>DEM</siglaPartido>
<uriPartido>
https://dadosabertos.camara.leg.br/api/v2/partidos/36769
</uriPartido>
<siglaUf>DF</siglaUf>
<idLegislatura>55</idLegislatura>
<urlFoto>
http://www.camara.leg.br/internet/deputado/bandep/73579.jpg
</urlFoto>
</deputado_>
<deputado_>
<id>160559</id>
<uri>
https://dadosabertos.camara.leg.br/api/v2/deputados/160559
</uri>
<nome>ALCEU MOREIRA</nome>
<siglaPartido>MDB</siglaPartido>
<uriPartido>
https://dadosabertos.camara.leg.br/api/v2/partidos/36899
</uriPartido>
<siglaUf>RS</siglaUf>
<idLegislatura>55</idLegislatura>
<urlFoto>
http://www.camara.leg.br/internet/deputado/bandep/160559.jpg
</urlFoto>
</deputado_>
</dados>
<links>
<link>
<rel>self</rel>
<href>
https://dadosabertos.camara.leg.br/api/v2/deputados
</href>
</link>
<link>
<rel>next</rel>
<href>
https://dadosabertos.camara.leg.br/api/v2/deputados?pagina=2&itens=15
</href>
</link>
<link>
<rel>first</rel>
<href>
https://dadosabertos.camara.leg.br/api/v2/deputados?pagina=1&itens=15
</href>
</link>
<link>
<rel>last</rel>
<href>
https://dadosabertos.camara.leg.br/api/v2/deputados?pagina=35&itens=15
</href>
</link>
</links>
</xml>